/* Core Style */
/* Example: <span class="icon icon-med" style="mask-image: var(--icon-canvas-logo-outline);" aria-label="Canvas Logo"></span> */

.icon {
    display: inline-block;
    mask-size: contain;
    background-color: currentColor;
    flex-shrink: 0;
    width: 18px;
    height: 18px;
}

/* Icon Sizes */

.icon-14 {
    width: 14px;
    height: 14px;
}

.icon-16 {
    width: 16px;
    height: 16px;
}

.icon-18 {
    width: 18px;
    height: 18px;
}

.icon-24 {
    width: 24px;
    height: 24px;
}

.icon-28 {
    width: 28px;
    height: 28px;
}

.icon-40 {
    width: 40px;
    height: 40px;
}